@model IEnumerable<ProductModel>
<div class="left-sidebar">
	<h2>Thể loại</h2>
	<div class="panel-group category-products" id="accordian">
		
		<vc:category></vc:category>
	</div><!--/category-products-->

	<div class="brands_products">
		<!--brands_products-->
		<h2>Danh mục</h2>
		<div class="brands-name">
			<ul class="nav nav-pills nav-stacked">
				<li><a asp-action="SearchTitle" asp-controller="Product" asp-route-Title=1> <span class="pull-right"></span>Lịch sử</a></li>
				<li><a asp-action="SearchTitle" asp-controller="Product" asp-route-Title=2> <span class="pull-right"></span>Đia lý</a></li>
			</ul>
		</div>
	</div><!--/brands_products-->

	@* <div class="price-range">
		<!--price-range-->
		<h2>Price Range</h2>
		<div class="well text-center">
			<input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
			<b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
		</div>
	</div><!--/price-range-->

	<div class="shipping text-center">
		<!--shipping-->
		<img src="images/home/shipping.jpg" alt="" />
	</div><!--/shipping--> *@

</div>